body{
    background:#30475e; 
}
.title{
   border:hidden;
   text-align: center;
   color: #beebe9;
   font-size:85px;
   font-family: serif;
   font-weight: bold;
   text-shadow: 3px 0 #f0134d;
}
div{
    text-align:  center;
}
.Wbutton{
   display: inline-block;
   margin-left: 80px;
   margin-right: 10px;
   margin-top: 85px;
   padding-top: 10px;
   border-radius: 15px;
  /* margin: 15px;*/
   border: 10px solid #465881;
   text-align: center;
   color: #f35588;
   font-size: 100px;
   font-family: serif;
   font-weight: bold;
   text-shadow: 3px 0 #beebe9;
   height: 150px;
   width: 150px;
   background-image:url('https://himanshu2195.github.io/FrontEnd_Practice/img/redDrum3.png');
}
.Abutton{
   display: inline-block;
   padding-top: 10px;
   border-radius: 15px;
   margin: 10px;
   border: 10px solid #465881;
   text-align: center;
   color: #f35588;
   font-size: 85px;
   font-family: serif;
   font-weight: bold;
   text-shadow: 3px 0 #beebe9;
   height: 150px;
   width: 150px; 
   background-image:url('https://himanshu2195.github.io/FrontEnd_Practice/img/redDrum4.png');
    
}
.Sbutton{
   display: inline-block;
   padding-top: 10px;
   border-radius: 15px;
   margin: 10px;
   border: 10px solid #465881;
   text-align:center;
   color: #f35588;
   font-size: 85px;
   font-family: serif;
   font-weight: bold;
   text-shadow: 3px 0 #beebe9;
   height: 150px;
   width: 150px; 
   background-image:url('https://himanshu2195.github.io/FrontEnd_Practice/img/sDrum.png');
}
.Dbutton{
   display: inline-block;
   padding-top: 10px;
   border-radius: 15px;
   margin: 10px;
   border: 10px solid #465881;
   text-align: center;
   color: #f35588;
   font-size: 85px;
   font-family: serif;
   font-weight: bold;
   text-shadow: 3px 0 #beebe9;
   height: 150px;
   width: 150px; 
   background-image:url('https://himanshu2195.github.io/FrontEnd_Practice/img/redDrum2.png');
}
.Jbutton{
   display: inline-block;
   padding-top: 10px;
   border-radius: 15px;
   margin: 10px;
   border: 10px solid #465881;
   text-align: center;
   color: #f35588;
   font-size: 85px;
   font-family: serif;
   font-weight: bold;
   text-shadow: 3px 0 #beebe9;
   height: 150px;
   width: 150px; 
   background-image:url('https://himanshu2195.github.io/FrontEnd_Practice/img/jDrum.png');

}
.Kbutton{
   display: inline-block;
   padding-top: 10px;
   border-radius: 15px;
   margin: 10px;
   border: 10px solid #465881;
   text-align: center;
   color: #f35588;
   font-size: 85px;
   font-family: serif;
   font-weight: bold;
   text-shadow: 3px 0 #beebe9;
   height: 150px;
   width: 150px;
   background-image:url('https://himanshu2195.github.io/FrontEnd_Practice/img/kDrum.png');
}
.Lbutton{
   display: inline-block;
   padding-top: 10px;
   border-radius: 15px;
   margin-left: 10px;
   margin-right: 20px;
   border: 10px solid #465881;
   text-align:center;
   color: #f35588;
   font-size: 85px;
   font-family: serif;
   font-weight: bold;
   text-shadow: 3px 0 #beebe9;
   height: 150px;
   width: 150px; 
   background-image:url('https://himanshu2195.github.io/FrontEnd_Practice/img/lDrum.png');
}
.footer{
  display: block;
  color: #ffeadb;
  text-align: center;
  font-family: cursive;
  font-size: 15px;
  font-weight:bold;
  margin-top: 135px;
}
